/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  /* background-image: url(/ArtboardDemo.jpg); */
  /* height: 100vh; */
}


.container div {
  background-image: url(/ArtboardDemo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #FFFFFF;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.topLeft p {
  position: absolute;
  top: 20;
  left: 10px;
  color: red;
}


/* Top right text */
.topRight {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}