

.container321 {
  /* background-image: url(/BengaluruWeb.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content; */
  /* color: #cccccc;
  display: grid;
  grid-template-columns: 54% 46%;
  padding: 50px 100px 80px 100px; */
  position: relative;
  top: 70px;
  margin-bottom: 110px;
}

.container {
  position:absolute;
  top: 0px; 
  padding: 50px 0px 0px 100px;  
  /* margin-top: -42px; */
}


.program{
  margin-left: -100px; 
  margin-top: -40px;
}
.hiringpartners{
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 35px;
}
/* .leftDiv{
  margin: 72px;
  padding: 20px 17px 20px 0px;
} */
.container321 h1{
  font-size: 40px;
  margin: 15px 0px 0px 0px;
  color: white;
 }

 .container321 p{
  font-size: 19px;
  margin: 10px 0px 7px 0px;
  color: white;
 }
.verticalLine {
  border-right: 3px solid grey;
  margin: 0 10px;
  padding-right: 20px;
  margin-right: 25px;


}

.verticalLine1 {
  margin: 0px;
  padding-right: 20px;
  margin-right: 25px;
  

}
/* .rightDiv{
  margin: 100px;
} */
.counsilBtn{
  margin-top: 10px;
}

.counsilBtn button {
  padding: 15px 20px;
  outline: none;
  background-color: #0072bc;
  color: white;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid #0072bc;
}

.program1 {
  display: none;
}



@media  (max-width: 481px) {
  
/* .container321 {
  background-image: url(/BengaluruMob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  color: #cccccc;
  display: block;
  margin-top: 70px;
  padding: 20px;
} */

  .program {
    display: none;
  }

  .program1 {
    display: block;
  }
.container{
  position: absolute;
  top: 0px;
  padding: 20px;
}
.parag{
  display: none;
}
.spantag{
  display: none;
}

.hiringpartners{
  display: flex;
  text-align: center;
  align-items: center;
  margin: 100px 20px 25px 0px;
}

.container321 h1{
  font-size: 34px;
  /* padding: 20px 0px 4px 4px; */
  color: white;
 }

 .container321 p{
  color: white;
  font-weight: 700;
 }

.verticalLine {
  border-right: 3px solid grey;
  margin: 0 10px;
  padding-right: 20px;
  margin-right: 25px;
}
.verticalLine1 {
  margin: 0px;
  padding-right: 20px;
  margin-right: 25px;
}

.counsilBtn{
  margin: 18px 0px 80px 0px;
}

}