
.wrapper{
  z-index: -12;
}
.container {
  background-image: url(/ArtboardDemo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
  height: 500px;
  color: #cccccc;
  display: grid;
  grid-template-columns: 70% 30%;
  z-index: -1;
}


.hiringpartners{
  display: flex;
  text-align: center;
  align-items: center;
}
.leftDiv{
  margin: 72px;
  padding: 3px;
}
.leftDiv h1{
  font-size: 45px;
  margin: 15px 0px 0px 0px;
 }

.verticalLine {
  border-right: 3px solid grey;
  margin: 0 10px;
  padding-right: 20px;
  margin-right: 25px;


}

.verticalLine1 {
  margin: 0px;
  padding-right: 20px;
  margin-right: 25px;
  

}
.rightDiv{
  margin: 100px;
}
.counsilBtn{
  margin-top: 15px;
}



@media  (max-width: 481px) {
  
.container {
  /* background-image: url(/ArtboardDemo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* position: relative; */
  height: fit-content;
  /* color: #cccccc; */
  display: block;
}
.hiringpartners{
  display: flex;
  text-align: center;
  align-items: center;
}
.leftDiv{
  margin: 70px 20px 0px 20px;
}
.leftDiv h1{
  font-size: 34px;
 }
.verticalLine {
  border-right: 3px solid grey;
  margin: 0 10px;
  padding-right: 20px;
  margin-right: 25px;
}
.verticalLine1 {
  margin: 0px;
  padding-right: 20px;
  margin-right: 25px;
}
.rightDiv{
  margin: 0;
}
.counsilBtn{
  margin-top: 15px;
  margin-bottom: 20px
}




}