/* .ContactNow {
  background: url(/CenterCityWeb.jpg) center center/cover no-repeat;
  padding: 70px 20px;
  margin-bottom: 70px;
  margin-top: 70px;
} */

.ContactNow {
  position: relative;
  padding: 70px 0px;
  margin-bottom: 70px;
  margin-top: 70px; 
}

.banglurufontsize{
  font-size: 35px;
}
.container {
  width: 100%; 
  text-align: center !important;
  position:absolute;
  top: 0px; 
  margin: 160px 0px 0px 0px; 
}

.ContactNowHead {
  font-size: 34px;
  color: #fff;
  font-weight: 700;
  margin: 0;
  
}

.btnlight {
  padding: 8px 15px;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 20px;
  display: inline-block;
  font-size: 26px;
   
}

@media (max-width: 768px) {
  .ContactNow {
    /* padding: 50px 20px; */
    margin-top: unset;
    margin-bottom: 65px;
  }

  .ContactNowHead {
    font-size: 30px;
  }

  .btnlight {
    padding: 8px 11px;
  }
}

@media (max-width: 460px) {
  /* .ContactNow {
    background: url(/CenterCityMob.jpg) center center/cover no-repeat;
    padding: 70px 20px;
    margin-bottom: 100px;
    margin-top: 150px;
  } */

  .ContactNow {
    position: relative;
    margin-top: 40px;
    padding: 20px 0px;
  }
  
  .container {

    width: 100%;
    text-align: center !important;
    position: absolute;
    top: 0px;
    margin: 80px 0px 0px 0px;
  }

  .ContactNowHead {
    font-size: 25px;
  }

  .btnlight {
    font-size: 20px;
  }
}
