.Course {
  margin: 40px 0px 30px 0px;
  padding: 0px 100px;
}
.icondiv {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 0px 30px;
}
.faIcon {
  color: #0FB046;
}

.author {
  display: flex;
  gap: 50px;
  align-items: center;
}
.pdivCheck {
  display: grid;
  grid-template-columns: 5% 92%;
  gap: 10px;
  margin: 10px 0px;
  font-size: 18px;
  color: #575252;
  align-items: center;
}

.Course h2 {
  text-align: center;
  font-size: 36px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 800;
}
.pTop {
  text-align: center;
  margin: 0;
  font-size: 18px;
  color: #646464;
}
.feature {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.feature p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 0px 5px;
}
.tick {
  font-size: 20px;
  color: #0072bc;
}
.courses {
  background: #ffffff;
  display: grid;
  grid-template-columns: 22% 77%;
  gap: 30px;
  margin-top: 30px;
}

.listPanel {
  display: flex;
  width: 100%;
  flex-flow: column;
  border-radius: 10px;
  height: fit-content;
}
.listPanel .gridPanel {
  display: none;
}
.slide {
  width: max-content;
}

.ActiveSpan {
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  justify-content: start;
  border-radius: 10px;
  background: rgba(225, 241, 245, 0.40);
  border-left: 5px solid #0072bc;
}
.span {
  padding: 10px 20px;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
  color: black;
  justify-content: start;
  border-radius: 6px 6px 6px 6px;
}
.gridPanel {
  display: grid;
  grid-template-columns: 100%;
  flex-wrap: wrap;
  gap: 40px;
  padding: 30px 30px;
  border: 1px solid #00000030;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}
.gridPanel .left {
  display: flex;
  flex-flow: column;
}
.gridPanel .left h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 38px;
  margin: 0;

  color: #000000;
}
.left button {
  margin-top: 20px;
  width: max-content;
}
.img {
  margin-bottom: 30px;
}
.para {
  margin: 10px 0px;
  font-size: 18px;
  color: #575252;
}
.gridPanel .left h6 {
  font-style: normal;
  font-weight: 600;

  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-top: -10px;
  color: #2979ad;
}
.gridPanel .right img {
  margin-top: -70px;
}
.info {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}

.info h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 38px;
  margin: 0;
  text-align: left;
  color: #2979ad;
}

.info .left {
  border-right: 1px solid grey;
  padding-right: 0px;
}
.info .left,
.info .middle {
  padding-right: 20px;
}
.info .middle {
  padding-left: 0px;
}
.info .middle h4 {
  color: #f99600;
}
.info p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;

  color: #6c6c6c;
}
.iconArrow {
  font-size: 24px;
}

.containerBottom {
  padding: 60px 100px;
  border: 1px solid #00000030;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 50px;
  justify-content: center;
  text-align: center;
}

.divInner {
  border-radius: 6px;
background: #0072bc14;
  padding: 30px 50px;
  color: #0072BC;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divInner:nth-child(2) {
background: rgba(249, 150, 0, 0.10);
color: #F99600;
}
@media (max-width: 1281px) {
  .Course {
    margin-top: 70px;
    padding: 0px 40px;
    margin-bottom: 70px;
  }
  .gridPanel {
    display: grid;
    grid-template-columns: 49% 49%;
    flex-wrap: wrap;
    margin-top: 0px;
    gap: 30px;
    padding: 0px 40px;
  }
  .listPanel {
    padding-left: 40px;
  }
}
@media (max-width: 481px) {
  .Course {
    padding: 0 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .icondiv {
    display: block;
    padding: 10px 10px 0px 20px;
  }
  .para {
    padding: 0px 15px;
    font-size: 17px;
  }
  .Course h2 {
    font-size: 24px;
  }
  .feature {
    flex-flow: column;
    align-items: flex-start;
    line-height: 1.9em;
  }
  .courses {
    padding: 0px;
    display: block;
    box-shadow: none;
  }
  .gridPanel {
    gap: 0px;
  }
  .listPanel {
    display: flex;
    flex-flow: column;
    width: 100%;
    overflow-x: auto;
    padding-left: 0;
    border-radius: 5px;
    gap: 10px;
  }
  .listPanel span {
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    background-color: aliceblue;
    border-radius: 5px;
  }
  .listPanel .gridPanel {
    grid-template-columns: 85% 85% 85% 85% 85% 85% 85%;
    overflow-x: scroll;
    display: block;
    padding: 0px;
  }
  .listPanel .gridPanel img {
    width: 100%;
    height: auto;
    margin-top: 0px;
  }
  .gridPanel {
    display: none;
  }
  .leftSide,
  .middleSide,
  .rightSide {
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
  }
  .courseImg {
    width: 100%;
  }
  .leftSide h6,
  .middleSide h6,
  .rightSide h6 {
    margin-right: 0;
  }
  .checkCircle {
    margin-right: 5px;
  }
  .author {
    gap: 0px;
    padding: 10px;
  }
  .paraLinked {
    font-size: 18px !important;
    width: 100%;
    display: flex;
    justify-content: left !important;
    gap: 10px;
    align-items: baseline;
    margin-top: 10px;
    padding: 0px !important;
    background: none !important;
    border-radius: 5px;
  }

  .iconLink {
margin-top: -10px;
  }
  .containerBottom {
    padding: 20px;
    margin: 20px 0px 0px;
    grid-template-columns: 100%;
    gap: 20px;
}
.divInner {
    padding: 20px 0px;
    font-size: 18px;
}
}
