.FirstSection {
  padding: 70px 100px;
  margin-top: 70px;
  display: flex;
  background-image: url("https://learnbay-wb.s3.ap-south-1.amazonaws.com/main/course.learnbay.co/WD-header.png");
  justify-content: space-evenly;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
  height: 550px;
}

.content h1 {
  margin: 0;
  color: #c31b70;
}

.divContent {
  border-left: 3px solid;
  margin-top: 10px;
}

.divContent p {
  margin: 0;
  margin-left: 10px;
}

.icon {
  margin-left: 10px;
  font-size: 22px;
}

.btnWrapper button {
  background-color: #c31b70;
  border: 0;
  padding: 12px 30px;
  font-size: 20px;
}

@media (max-width: 481px) {
  .FirstSection {
    height: 340px;
    background-size: contain;
    background-color: #e9f4f9;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .Mnone {
    display: none;
  }
  .content {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .content h1 {
    font-size: 22px;
  }
  .content p {
    font-size: 19px;
  }
  .divContent {
    margin-top: 0;
  }
}
